apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-d
  labels:
    app: service-d
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-d
  template:
    metadata:
      labels:
        app: service-d
        cortex.io/tag: "service-d" # Tag for Cortex
    spec:
      containers:
      - name: service-d
        image: khasham1/service-d-java:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: SERVER_PORT
          value: "8080"
        - name: SPRING_APPLICATION_NAME
          value: "Service D"
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 15
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: service-d-svc
spec:
  type: ClusterIP
  selector:
    app: service-d
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
